.u-section-1 {
  background-image: linear-gradient(#f9efec, #e8cfbc);
}

.u-section-1 .u-sheet-1 {
  min-height: 762px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 559px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 500px;
  height: 500px;
  min-height: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: initial;
  margin-left: auto;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 500px;
  object-position: 50% 50.01%;
  margin: -441px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 33px -3px 0 3px;
}

.u-section-1 .u-text-2 {
  margin: 20px -3px 0 3px;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-shape-1 {
    width: 412px;
    height: 412px;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: -353px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-shape-1 {
    width: 316px;
    height: 316px;
  }

  .u-section-1 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: -257px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-shape-1 {
    width: 296px;
    height: 302px;
    margin-right: 96px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 296px;
    height: 306px;
    margin-top: -253px;
    margin-left: 111px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-1 .u-shape-1 {
    width: 280px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 280px;
    height: 295px;
    margin-top: -242px;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(#e8cfbc, #5f7b88);
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-group-1 {
  width: 539px;
  min-height: 348px;
  margin: 135px auto 0 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 110px;
}

.u-section-2 .u-text-1 {
  margin: 49px 5px 0 -1px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 667px;
  height: 667px;
  filter: brightness(0.75);
  background-image: url("images/patternsmalls2.png");
  background-position: 50% 50%;
  margin: -561px -237px 0 auto;
}

.u-section-2 .u-table-1 {
  width: 524px;
  margin: -498px 102px 60px auto;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-btn-1 {
  text-decoration: underline !important;
  border-style: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  text-decoration: underline !important;
  padding: 0;
}

.u-block-0df5-29 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 486px;
    margin-top: 86px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -374px;
    margin-right: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 403px;
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 95px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -69px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 456px;
    margin-top: 407px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 75px;
  }

  .u-section-2 .u-image-1 {
    width: 397px;
    height: 397px;
    margin-top: -561px;
    margin-right: auto;
  }

  .u-section-2 .u-table-1 {
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-group-1 {
    min-height: 392px;
    width: 312px;
    margin-top: -50px;
    margin-left: -21px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-top: -24px;
    margin-left: -30px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-top: -427px;
    margin-right: -33px;
    margin-bottom: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(#5f7b88, #94745b);
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 50px auto 50px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-video-poster-1 {
  width: 56%;
  left: 22%;
  height: 56%;
  top: 22%;
  background-image: url(images/Screenshot2021-04-11205728.png);
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 122px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-video-poster-1 {
    width: auto;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}